.thumbnail {
  position: relative;
  width: 70px;
  height: 70px;

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    z-index: -1;
    display: block;
    width: 117px;
    height: 117px;
    border-radius: 50%;
    background-image: radial-gradient(circle, #422F90 0, #1C153A00 60%);
  }
}

.thumbnailInner {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius-round);
  background-color: var(--color-black-1);
}
