.hero {
  min-height: 770px;
  background-image: url("@/assets/images/hero-background.png");
  background-position: 50% 0;
  background-repeat: no-repeat;
}

.content {
  display: grid;
  grid-template-columns: 426px 856px;
  grid-template-areas:
    ". slider"
    "title slider"
    "description slider"
    ". slider";
  justify-content: space-between;
  padding-block: 90px 92px;
}

.title {
  grid-area: title;
}

.description {
  grid-area: description;
  width: 354px;
}

.slider {
  grid-area: slider;
  height: 545px;
  background-color: var(--color-white);
}