*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-weight: 400;
  font-size: 16px;
  font-optical-sizing: auto;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, textarea, select {
  font: inherit;
}

button {
  font: inherit;
  color: inherit;
  background: none;
  border: 0;
  padding: 0;
  cursor: pointer;

  &:disabled {
    cursor: default;
  }
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
