@font-face {
  font-family: ProximaNova;
  src: url('@/assets/fonts/ProximaNova/ProximaNova-Regular.woff2') format('woff2');
  font-weight: 400 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: ProximaNova;
  src: url('@/assets/fonts/ProximaNova/ProximaNova-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: ProximaNova;
  src: url('@/assets/fonts/ProximaNova/ProximaNova-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}