:root {
  --color-black-1: #141025;
  --color-black-2: #1a0335;
  --color-white: #ffffff;
  --color-white-a20: #ffffff33;
  --color-white-a35: #ffffff59;
  --color-white-a50: #ffffff80;
  --color-gray: #cfd0d9;
  --color-red: #ed0a32;

  --border: var(--border-width) solid var(--color-white);
  --border-a50: var(--border-width) solid var(--color-white-a50);

  --border-width: 1px;

  --border-radius-15: 15px;
  --border-radius-10: 10px;
  --border-radius-round: 50%;

  --font-family-base: ProximaNova, system-ui, -apple-system;

  --container-max-width: 1600px;
  --container-padding-x: 100px;

  --space-section: 120px;

  --transition-duration: 0.2s;
  --transition-duration-longer: 0.4s;
}
