.content {
  display: flex;
  column-gap: 61px;
  padding-block: 30px;
}

.logo {
  font-size: 32px;
  font-weight: 800;
  line-height: 1;
  text-decoration: none;
  text-transform: uppercase;
  color: currentColor;
}

.redLogo {
  color: var(--color-red);
}

.separator {
  height: 1px;
  background-color: var(--color-white);
  opacity: 0.15;
}
