.header {
  padding-block: 30px;
}

.content {
  display: flex;
  column-gap: 61px;
}

.logo {
  font-size: 32px;
  font-weight: 800;
  line-height: 1;
  text-decoration: none;
  text-transform: uppercase;
  color: currentColor;
}

.redLogo {
  color: var(--color-red);
}
